@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Work+Sans:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Josefin Sans", sans-serif; */
}

:root {
  --font: "Montserrat", snas-serif;
  --prime-font: "Work Sans";
  --bg: #1a1c20;
  /* --main-color: #2bdd9d; */
  --main-color: #1dd3b0;
  --main-font-color: #fdfbfb;
  --sec-font-color: #fcf1f1b4;
}
body {
  background: var(--bg);
  font-family: var(--font);
  color: var(--main-font-color);
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* navbar */
.nav {
  width: 85%;
  height: 70px;
  margin: 0 auto;
  justify-content: space-between;
}

.checkBtn {
  display: none;
}

.nav .logo {
  font-size: 2em;
}

.nav ol {
  list-style: none;
}

.nav ol a {
  text-decoration: none;
  color: var(--sec-font-color);
  margin: 0.3em;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  transition: background 0.8s;
}

.nav ol a:hover {
  background: var(--main-color);
}

/* main section */
.main {
  width: 80%;
  height: 650px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.main::before,
.main::after {
  content: "";
  width: 80%;
  height: 70%;
  background: #151618;
  position: absolute;
  bottom: 0;
  right: -10%;
  z-index: -10;
}

.main::after {
  background: #15161885;
  height: 60%;
  top: 20px;
  left: -40%;
  border-top: 1px solid #1dd3b0;
  border-right: 1px solid #086375;
}

.box h1 {
  font-size: 4.5em;
  margin-bottom: 0.2em;
}

.box p {
  font-size: 1.2em;
  color: var(--sec-font-color);
  margin-bottom: 1.2em;
}

.box .btn {
  font-size: 1.2em;
  background: none;
  color: var(--sec-font-color);
  border: none;
  cursor: pointer;
  border: 1px solid var(--main-color);
  width: 7em;
  height: 2.2em;
  transition: all 0.4s;
}

.box .btn:hover {
  background: var(--main-color);
  color: white;
}

.main img {
  width: 35em;
  position: absolute;
  right: 60px;
  z-index: -1;
}

/* about */
.about {
  width: 100%;
  padding: 8em 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: start;
}

.about .box_wrap {
  margin: 2em 0;
}

.about .box_wrap .heading {
  font-size: 3em;
  margin-bottom: 0.5em;
  position: relative;
}

.about .box_wrap .heading::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 80px;
  height: 8px;
  background: var(--main-color);
  z-index: -1;
}

.about .box_wrap .text,
.about .box_wrap i {
  color: var(--sec-font-color);
}

.about .box_wrap {
  width: 35%;
}

.skills_box i {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

/* media */
@media (max-width: 1250px) {
  .main img {
    width: 25em;
    right: 0;
  }
  .main img {
    width: 35em;
    top: 80px;
  }
  .main {
    align-items: flex-end;
  }
  .checkBtn {
    display: block;
    width: 25px;
    height: 35px;
    cursor: pointer;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
  }

  .checkBtn::before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 1.9em;
    color: var(--sec-font-color);
  }
  .checkBtn:checked::before {
    content: "\f00d";
  }
  .nav ol {
    /* display: none; */
    position: absolute;
    width: 100%;
    flex-direction: column;
    background: var(--bg);
    top: 80px;
    left: 0;
    z-index: 100;
    padding: 1.2em;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.4s;
  }
  .checkBtn:checked ~ ol {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .nav ol::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--main-color);
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .main img {
    width: 22em;
  }
  .about .box_wrap {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .main img {
    width: 22em;
  }
}
@media (max-width: 400px) {
  body {
    font-size: 10px;
  }
  .main {
    height: 450px;
  }
}
